@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Beckman";
    src: local("Beckman"), url(./fonts/Beckman.otf), format("truetype");
  }

  @font-face {
    font-family: "Lato";
    src: local("Lato"), url(./fonts/Lato.ttf), format("truetype");
  }
}

/* Components - Btn */
.btn {
  @apply py-2 px-2 md:px-6 mr-2 border-2 border-blue-450 font-primary text-xs md:text-base text-blue-450 tracking-wide cursor-pointer hover:bg-blue-450 hover:text-white;
}
